[Desktop Entry]
Name=Android Studio
Exec=android-studio-wrapper
Icon=com.google.AndroidStudio
Comment=IDE for Android app development
Terminal=false
Type=Application
Categories=Development;IDE;Java;
StartupWMClass=jetbrains-studio
