[Desktop Entry]
Name=Android Studio
Exec=android-studio-wrapper %F
Icon=com.google.AndroidStudio
GenericName=IDE for Android app development
Terminal=false
Type=Application
Categories=Development;IDE;Java;
StartupWMClass=jetbrains-studio
Keywords=development;ide;android;
MimeType=text/plain;inode/directory;
StartupNotify=true